* {
    text-align: center;
    color: #eeeeee;
    align-content: center;
    font-family: Helvetica, Calibri, Arial, sans-serif;
}

body {
    background-color: #2e2e2e;
    background-size: cover;
}

*:link, *:visited {
    color: #4d97f1;
    text-decoration: none;
}


.header-anchor {
    visibility: hidden;
}

p {
    padding-top: 40px;
    padding-bottom: 40px;
}