body {
    background-color: #2e2e2e;
    margin: 0px;
}

h1, h2, h3, h4, h5, p {
    color: #eeeeee;
    text-align: center;
}

* {
    font-family: Helvetica, Calibri, Arial, sans-serif;
}

*:link, *:visited {
    color: #67a0f4;
    text-decoration: none;
}


.navbar ul{
    list-style-type: none;
    background-color: #222222;
    margin: 0px;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    text-align: center;
}

.navbar a{
    color: #eeeeee;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: #222222;
    transition: background-color 0.15s ease-in-out;
    background-color: #181818;
}

.navbar li{
    display: inline-block;
}


.sbnav ul{
    list-style-type: none;
    background-color: #222222;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    text-align: center;
}

.sbnav a{
    color: #eeeeee;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.sbnav a:hover {
    background-color: #222222;
    transition: background-color 0.15s ease-in-out;
    background-color: #181818;
}

.post {
    border-radius: 25px;
    background-color: #454545;
    padding: 20px;
    height: auto;
    width: 55%;
    border: 2px #eeeeee;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}


.post h2 {
    margin-top: -5px;
    background-color: #393939;
    border-radius: 10px 10px 0px 0px;
}

.post h5 {
    margin-top: -20px;
    background-color: #393939;
    border-radius: 0px 0px 10px 10px;
}

.post h3 {
    margin-bottom: -10px;
    background-color: #3f3f3f;
    border-radius: 10px 10px 10px 10px;
}

.post p {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.post mono {
    font-family: 'Courier New', Helvetica, sans-serif;
    background-color: #3f3f3f;
    border-radius: 2px;
}

.post table {
    color: #eeeeee;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    display: block;
    max-width: fit-content;
    margin: auto;
    overflow-x: auto;
    white-space-collapse: nowrap;
}

.post tr {
    border: none;
}

.post th, td{
    padding: 5px;
    text-align: center;
    border-right: 1px solid #eeeeee;
}

.post th:last-child, td:last-child {
    border-left: 1px solid #eeeeee;
    border-right: none;
}

.post th {
    border-bottom: 1px solid #eeeeee;
}

.post td {
    padding: 5px;
}

.scroll {
    display: flex;
    overflow-x: scroll;
    width: 85%;
    margin: auto auto;
    background-color: #1b1b1b;
    border-radius: 30px 30px 30px 30px;
    padding: 10px 10px 10px 10px;
}

.scroll .post {
    justify-content: center;
    height: fit-content;
    margin: 10px 10px;
    min-width: 40%;
}

@media screen and (max-width: 500px) {
    .post {
        width: 85%;
    }

    .post p {
        width: 80%;
    }

}