body {
    background-color: #2e2e2e;
    margin: 0px;
}

h1, h2, h3, h4, h5, p {
    color: #eeeeee;
    text-align: center;
}

* {
    font-family: Helvetica, Calibri, Arial, sans-serif;
}

*:link, *:visited {
    color: #67a0f4;
    text-decoration: none;
}


.navbar ul{
    list-style-type: none;
    background-color: #222222;
    margin: 0px;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    text-align: center;
}

.navbar a{
    color: #eeeeee;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: #222222;
    transition: background-color 0.15s ease-in-out;
    background-color: #181818;
}

.navbar li{
    display: inline-block;
}


.sbnav ul{
    list-style-type: none;
    background-color: #222222;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    text-align: center;
}

.sbnav a{
    color: #eeeeee;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.sbnav a:hover {
    background-color: #222222;
    transition: background-color 0.15s ease-in-out;
    background-color: #181818;
}